form {
  width: 350px;
  background: rgb(108, 185, 224);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 50px auto;
}
form.h2 {
  color: rgb(208, 48, 48);
  font-size: 24px;
  margin-bottom: 20px;
}
form.input {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: 1px solid #e91111;
  border-radius: 6px;
  font-size: 16px;
}
input.button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(135deg, #3498db, #2980b9);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  margin-top: 15px;
}
input button:hover {
  background: linear-gradient(135deg, #b92954, #3498db);
}